<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><h3><b>Debits and Credits</b></h3></p>
    <label><b>transaction type</b></label><br/>
    <input placeholder = "transaction"/>
    <br/>
    <label><b>amount</b></label><br/>
    <input placeholder = "amount"/>
    button
  </body>
</html>
