body {
  padding: 50px;
  font: 14px "Helvetica" , Arial, sans-serif;
  color:#333;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: none;
}
hr.style-one {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
